<p id="notice"><%= notice %></p>

<h1>Listing Blog Posts</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Guid</th>
      <th>Title</th>
      <th>Description</th>
      <th>Link</th>
      <th>Pub date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blog_posts.each do |blog_post| %>
      <tr>
        <td><%= blog_post.user_id %></td>
        <td><%= blog_post.guid %></td>
        <td><%= blog_post.title %></td>
        <td><%= blog_post.description %></td>
        <td><%= blog_post.link %></td>
        <td><%= blog_post.pub_date %></td>
        <td><%= link_to 'Show', blog_post %></td>
        <td><%= link_to 'Edit', edit_blog_post_path(blog_post) %></td>
        <td><%= link_to 'Destroy', blog_post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Blog post', new_blog_post_path %>
