<!-- Footer Wrapper -->
<div id="footer-wrapper">
        <div id="footer" class="container">

    <!-- Footer -->
      <div class="row 200%">

        <!-- Left Footer Content -->
          <div class="8u 12u(mobile)">
            <section>
              <header>
                <h2>Magna feugiat interdum</h2>
              </header>
              <p>Aenean eget velit ut arcu placerat dolore suscipit eu quis velit. Pellentesque habitant morbi senectus etiam netus malesuada fames ac turpis egestas. Nunc lacus sit amet sed neque eleifend consequat sit amet id felis. Curabitur placerat dolore suscipit eu quis velit. Pellentesque habitant morbi senectus etiam netus et malesuada.</p>
              <a href="#" class="button icon fa-info-sign">Learn More</a>

              <!-- Footer Links -->
                <div id="footer-links">
                  <div class="row 200%">
                    <div class="6u 12u(mobile)">
                      <section>
                        <header>
                          <h2>Habitant sed morbi</h2>
                        </header>
                        <ul class="style1">
                          <li class="first"><a href="#">Aenean eget velit ut arcu placerat dolore</a></li>
                          <li><a href="#">Suscipit eu quis velit pellentesque habitant morbi</a></li>
                          <li><a href="#">Senectus etiam netus et malesuada</a></li>
                          <li><a href="#">Egestas nunc lacus magna amet sed neque</a></li>
                          <li><a href="#">Eleifend consequat sit amet id felis curabitur</a></li>
                          <li><a href="#">Sed mattis commodo luctus morbi nec</a></li>
                          <li><a href="#">Ornare justo fusce iaculis lacus vitae dolore</a></li>
                        </ul>
                      </section>
                    </div>
                    <div class="6u 12u(mobile)">
                      <section>
                        <header>
                          <h2>Habitant sed morbi</h2>
                        </header>
                        <ul class="style1">
                          <li class="first"><a href="#">Aenean eget velit ut arcu placerat dolore</a></li>
                          <li><a href="#">Suscipit eu quis velit pellentesque habitant morbi</a></li>
                          <li><a href="#">Senectus etiam netus et malesuada</a></li>
                          <li><a href="#">Egestas nunc lacus magna amet sed neque</a></li>
                          <li><a href="#">Eleifend consequat sit amet id felis curabitur</a></li>
                          <li><a href="#">Sed mattis commodo luctus morbi nec</a></li>
                          <li><a href="#">Ornare justo fusce iaculis lacus vitae dolore</a></li>
                        </ul>
                      </section>
                    </div>
                  </div>
                </div>

            </section>
          </div>

        <!-- Right Footer Content -->
           <div class="4u 12u(mobile)">
            <section>
              <header>
                <h2>Contact Me</h2>
              </header>
              <a href="#" class="image full"><img src="images/pic10.jpg" alt=""></a>
              <ul class="contact">
                <li>
                  <span class="icon fa-home"></span>
                    <%= @current_user.full_name %><br />
                    <%= split_lines @current_user.address, by: "<br />" %>
                </li>
                <li>
                  <span class="icon fa-envelope"></span>
                  <%= mail_to @current_user.email %>
                </li>
                <li>
                  <span class="icon fa-phone"></span>
                  <%= @current_user.phone %>
                </li>
                <li>
                  <span class="icon fa-twitter"></span>
                    <%= link_to "@#{@current_user.twitter}",
                        "http://www.twitter.com/#{@current_user.twitter}" %>
                </li>
              </ul>
            </section>
          </div>

      </div>

    <!-- Copyright -->
    <div id="copyright">
      <span>&copy; <%= @current_user.full_name %> <%= Time.now.year %>,&nbsp; All rights reserved.</span>
    </div>

          </div>
</div>
