<!-- Header Wrapper -->
  <div id="header-wrapper">
    <div class="container">

      <!-- Header -->
      <div id="header">
        <div class="inner">

          <!-- Logo -->
          <div class="navbar-left">
            <h1><%= link_to @current_user.full_name, root_url %></h1>
          </div>

          <% item_maker = Proc.new do |name, options={}| %>
            <% url = options[:url] || send("#{name.downcase}_path") %>
            <% flag = (active.downcase == name.downcase) %>
            <li class="<%= flag ? 'current_page_item': '' %>">
              <%= link_to name, url %>
            </li>
          <% end %>

          <!-- Nav -->
          <div id="nav">
            <ul>
              <% ['Home','About','Blog'].each(&item_maker) %>
              <% ['Resume','Portfolio','Contact'].each(&item_maker) %>
            </ul>
          </div>

        <% if (defined? banner) && (! banner.nil?) %>
      		<div id="banner">
      			<%= banner.call.html_safe %>
      		<div>
        <% end %>

        </div> <!-- End Inner -->
      </div> <!-- End #header, really it's a navbar -->

      <%= yield %>

    </div>
    <div id="header-wrapper-ie8"></div>
  </div>
