<section class="box post project-item">
  <header class="section-header">
    <h2 class="section-heading"><%= project.title %></h2>

      <% unless project.live.nil? %>
        <span class="action-item">
          <a href="<%= project.live %>" target="_blank">Live</a>
        </span>
      <% end %>
      <% if project.github && project.live %>
        <%= 'x' %>
      <% end %>
      <% unless project.github.nil? %>
        <span class="action-item">
          <a href="<%= project.github %>" target="_blank">GitHub</a>
        </span>
      <% end %>
    </span>
  </header>

  <a href="<%= project.live || project.github %>" class="image left">
    <%= image_tag project.image_url, alt: "#{project.title} screen shot" %>
  </a>

  <span class="section-content">
    <%= project.summary.html_safe %>
  </span>

</section>
