<%= render :layout => '/pages/main', :locals => {active: 'contact'} do %>

  <div class="wrapper wrapper-style1">
    <div class="container">
      <div class="row">
        <div class="12u">
          <section id="contact-intro">
            <header class="section-header">
              <h2 class="section-headline">Contact Me</h2>

              <p class="section-caption">
                <span class="group">Before getting my contact information,</span>
                <span class="group">please fill out this form verifying</span>
                <span class="group">that you&apos;re a human being, not a bot.</span>
              </p>

            </header>


          </section>
        </div> <!-- end .12u -->
      </div> <!-- end .row -->
    </div> <!-- end .container -->


    <div class="container">
      <div class="row">
        <div class="6u 12u(mobile)">
          <ul class="contact">
            <li>
              <span class="icon fa-home"></span>
              <div class="data">
                <%= @current_user.address.gsub("\n", "<br>").html_safe %>
              </div>
            </li>
            <li>
              <span class="email icon fa-envelope"></span>
              <div class="container">
                <% if @recaptcha_success %>
                  <%= @current_user.email %>
                <% else %>
                  <form action="?" method="POST">
                    <%= raw recaptcha_tags %>
                    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                    <button type='submit'>Ask For Email Address</button>
                  </form>
                <% end %>
              </div>
            </li>
            <li>
              <span class="icon fa-phone"></span>
              <%= @current_user.phone %>
            </li>
            <li>
              <span class="icon fa-twitter"></span>
              <%= "@#{@current_user.twitter}" %>
            </li>
          </ul> <!-- end .contact -->
        </div> <!-- end .columns -->

      </div> <!-- end .row -->
    </div> <!-- end .container -->

  </div> <!-- end .wrapper -->

<% end %>
