<div id="page-wrapper">
	<%= render 'header', active: 'home' %>

	<div class="banner-wrapper">
		<div id="banner">
			<%= render 'banner', current_user: @current_user %>
		</div> <!-- End #banner -->
	</div> <!-- .banner-wrapper -->


	<!-- Main Wrapper -->
	<div id="main-wrapper">
		<div id="main" class="container">
				<%= render 'skills', current_user: @current_user %>
				<%= render 'about', current_user: @current_user %>
		</div> <!-- End #main.container -->

		<div class="clear-footer"></div>
	</div> <!-- End #main-wrapper -->

</div> <!-- end #page-wrapper -->

<!-- Footer Wrapper -->
<%= render 'footer' %>
