<div id="page-wrapper">
	<%= render 'header', active: 'home' %>

	<div class="banner-wrapper">
		<div id="banner">
			<section id="banner-intro">
				<h2 class="section-headline">
					<span class="group">
						<span class="group">Software Engineer,</span>
					</span>
					<span class="group">
						<span class="group">Mathematician,</span>
						<span class="group">Reporter</span>
					</span>
        </h2>

				<div>
					<p class="section-caption">
						<span class="group group-secondary">
							<span class="group">Everything in life has</span>
							<span class="group">been a puzzle to solve.</span>
						</span>
						<span class="group group-secondary">
							<span class="group">Math puzzles as an actuary,</span>
							<span class="group">policy puzzles as a reporter</span>
						</span>
					</p>
				</div>

				<h3 class="section-caption">
					<span class="group">Software is</span>
					<span class="group">just another puzzle.</span>
				</h3>

			</section>
		</div> <!-- End #banner -->
	</div> <!-- .banner-wrapper -->


	<!-- Main Wrapper -->
	<div id="main-wrapper">
		<div id="main" class="container">

				<!-- Intro Wrapper -->
				<div class="wrapper wrapper-style2">
					<div class="container">
						<div class="row">
							<div class="12u">

								<!-- Intro -->
								<section id="skills-intro">
                  <header class="section-header">
                    <h2 class="section-headline">
											<span class="group">Computer<span> / <span class="group">Technical Skills</span>
										</h2>
                    <p class="section-caption">
											<span class="group">
												<span class="group">An affinity for</span>
												<span class="group">scripting languages,</span>
											</span>
											<span class="group">
												<span class="group">SQL databases,</span>&nbsp;<span>and</span>
												<span class="group">unit-testing frameworks.</span>
											</span>
											</p>
                  </header>

									<div class="skills-table">
										<% @current_user.skills.each do |skill| %>
											<div class="skills-item">
										    <%= image_tag skill.image_url, class: 'skills-item-image', alt: skill.name %>
										    <h3 class="section-item-label"><%= skill.name %></h3>
											</div>
										<% end %>
									</div> <!-- end .row -->
								</section> <!-- end #intro -->

							</div> <!-- End .12u -->
						</div>
					</div>
				</div> <!-- end intro wrapper -->

				<!-- Features -->
				<div class="wrapper wrapper-style1">
					<div class="container">
						<div class="row">
							<div class="12u">

								<!-- Featured -->
									<div id="featured">

									<section id="projects-intro">
										<header class="section-header">
											<h2 class="section-headline">
												<span class="group">Projects</span>&nbsp;/&nbsp;
												<span class="group">Portfolio</span>
											</h2>
											<p class="section-caption">
												A mixture of front end CSS and Javascript games, to full stack clones of social networking sites in the middle.  Finally on the deep back-end of programming, low level mathematical and metaprogramming libraries.
											</p>
										</header>

											<div class="row">

												<% @current_user.projects.limit(4).each do |project| %>
													<% #render 'project', project: project %>

													<div class="4u 12u(mobile)">
														<section class="box featured-post">
															<a href="#" class="image full">
																<%= image_tag project.image_url, alt: "#{project.title} screenshot" %> ">
															</a>
															<div class="content">
																<h3><%= project.title %></h3>
																<p><%= project.summary.html_safe %></p>
																<a href="#" class="button icon fa-info-sign">Learn More</a>
															</div>
														</section>
													</div><!-- end column -->

												<% end %>

											</div> <!-- end .row -->

										</section>

									</div>


							</div>
						</div>
					</div>
				</div>

				<!-- Content -->
				<div id="content">

					<div class="row">
						<div class="12u">
							<!-- Preview -->
							<section id="projects-intro">
								<header class="section-header">
									<h2 class="section-headline">Projects</h2>
								</header>
							</section>
						</div> <!-- End .12u -->
					</div> <!-- end .row -->

				</div>

		</div> <!-- End #main.container -->

		<div class="clear-footer"></div>
	</div> <!-- End #main-wrapper -->

</div> <!-- end #page-wrapper -->

<!-- Footer Wrapper -->
<%= render 'footer' %>
