<div id="page-wrapper">
	<%= render 'header', active: 'home' %>

	<div class="banner-wrapper">
		<div id="banner">
			<section>
				<h2>
					<ul>
						<li>Software Engineer</li>
						<li>Mathematician</li>
						<li>Public Radio Reporter</li>
					</ul>
        </h2>

				<p>
					<span class="group">
						<span class="group">Everything in life has been</span>
						<span class="group">a different puzzle to solve,</span>
					</span>
					<span class="group">
						<span class="group">Puzzles in math as an actuary,</span>
						<span class="group">in public policy as a journalist,</span>
					</span>

					<span class="group">
						<span class="group">or with sorting algorithms in software.</span>
					</span>

        </p>

			</section>
		</div> <!-- End #banner -->
	</div> <!-- .banner-wrapper -->


	<!-- Main Wrapper -->
	<div id="main-wrapper">
		<div id="main" class="container">

				<!-- Intro Wrapper -->
				<div class="wrapper wrapper-style2">
					<div class="container">
						<div class="row">
							<div class="12u">

								<!-- Intro -->
								<section id="skills-intro">
                  <header class="section-header">
                    <h2 class="section-headline">
											<span class="group">Computer<span> / <span class="group">Technical Skills</span>
										</h2>
                    <p class="section-caption">
											<span class="group">
												<span class="group">An affinity for</span>
												<span class="group">scripting languages,</span>
											</span>
											<span class="group">
												<span class="group">SQL databases,</span>
												<span class="group">and unit-testing frameworks.</span>
											</span>
											</p>
                  </header>

									<div class="row">

										<% @current_user.skills.each do |skill| %>
												<div class="3u">
												  <section>
												    <%= image_tag skill.image_url, alt: skill.name %>
												    <h3 class="section-item-label"><%= skill.name %></h3>
												  </section>
												</div><!-- End .3u -->
										<% end %>

									</div> <!-- end .row -->
								</section> <!-- end #intro -->

							</div> <!-- End .12u -->
						</div>
					</div>
				</div> <!-- end intro wrapper -->


				<!-- Content -->
				<div id="content">

					<div class="row">
						<div class="12u">
							<!-- Preview -->
							<section>
								<header>
									<h2>Projects</h2>
								</header>
							</section>
						</div> <!-- End .12u -->
					</div> <!-- end .row -->

					<% @current_user.projects.limit(4).each do |project| %>
						<%= render 'project', project: project %>
					<% end %>
				</div>

		</div> <!-- End #main.container -->

		<div class="clear-footer"></div>
	</div> <!-- End #main-wrapper -->

</div> <!-- end #page-wrapper -->

<!-- Footer Wrapper -->
<%= render 'footer' %>
