<div id="page-wrapper">
	<%= render 'header', active: 'home' %>

	<div class="banner-wrapper">
		<div id="banner">
			<section id="banner-intro">
				<h2 class="section-headline">
					<span class="group">
						<span class="group">Software Engineer,</span>
					</span>
					<span class="group">
						<span class="group">Mathematician,</span>
						<span class="group">Reporter</span>
					</span>
        </h2>

				<p class="section-caption">
					<span class="group group-secondary">
						<span class="group">Everything in life has been</span>
						<span class="group">a different puzzle to solve,</span>
					</span>
					<span class="group group-secondary">
						<span class="group">Math puzzles as an actuary,</span>
						<span class="group">policy ones as a journalist.</span>
					</span>
				</p>

				<h3 class="section-caption">
					<span class="group">Software is</span>
					<span class="group">just another puzzle.</span>
				</h3>

			</section>
		</div> <!-- End #banner -->
	</div> <!-- .banner-wrapper -->


	<!-- Main Wrapper -->
	<div id="main-wrapper">
		<div id="main" class="container">

				<!-- Intro Wrapper -->
				<div class="wrapper wrapper-style2">
					<div class="container">
						<div class="row">
							<div class="12u">

								<!-- Intro -->
								<section id="skills-intro">
                  <header class="section-header">
                    <h2 class="section-headline">
											<span class="group">Computer<span> / <span class="group">Technical Skills</span>
										</h2>
                    <p class="section-caption">
											<span class="group">
												<span class="group">An affinity for</span>
												<span class="group">scripting languages,</span>
											</span>
											<span class="group">
												<span class="group">SQL databases,</span>&nbsp;<span>and</span>
												<span class="group">unit-testing frameworks.</span>
											</span>
											</p>
                  </header>

									<div class="skills-table">
										<% @current_user.skills.each do |skill| %>
											<div class="skills-item">
											  <section>
											    <%= image_tag skill.image_url, alt: skill.name %>
											    <h3 class="section-item-label"><%= skill.name %></h3>
											  </section>
											</div>
										<% end %>

									</div> <!-- end .row -->
								</section> <!-- end #intro -->

							</div> <!-- End .12u -->
						</div>
					</div>
				</div> <!-- end intro wrapper -->

				<!-- Features -->
				<div class="wrapper wrapper-style1">
					<div class="container">
						<div class="row">
							<div class="12u">

								<!-- Featured -->
									<div id="featured">

										<section>
											<header>
												<h2>
													<span class="group">Projects</span>&nbsp;/&nbsp;
													<span class="group">Portfolio</span>
												</h2>
												<p>Ipsum lorem dolor sed nullam amet volutpat adipiscing dolore consequat volutpat.</p>
											</header>
											<div class="row">
												<div class="4u 12u(mobile)">
													<section class="box featured-post">
														<a href="#" class="image full"><img src="images/pic02.jpg" alt=""></a>
														<div class="content">
															<h3>Dolore Tempus</h3>
															<p>Felis orci imperdiet lacus, sed pretium justo dolor eros congue velit. Proin tellus lorem, vestibulum sed volutpat quis, adipiscing auctor sapien curabitur.</p>
															<a href="#" class="button icon fa-info-sign">Learn More</a>
														</div>
													</section>
												</div>
												<div class="4u 12u(mobile)">
													<section class="box featured-post">
														<a href="#" class="image full"><img src="images/pic03.jpg" alt=""></a>
														<div class="content">
															<h3>Dolore Tempus</h3>
															<p>Felis orci imperdiet lacus, sed pretium justo dolor eros congue velit. Proin tellus lorem, vestibulum sed volutpat quis, adipiscing auctor sapien curabitur.</p>
															<a href="#" class="button icon fa-info-sign">Learn More</a>
														</div>
													</section>
												</div>
												<div class="4u 12u(mobile)">
													<section class="box featured-post">
														<a href="#" class="image full"><img src="images/pic04.jpg" alt=""></a>
														<div class="content">
															<h3>Dolore Tempus</h3>
															<p>Felis orci imperdiet lacus, sed pretium justo dolor eros congue velit. Proin tellus lorem, vestibulum sed volutpat quis, adipiscing auctor sapien curabitur.</p>
															<a href="#" class="button icon fa-info-sign">Learn More</a>
														</div>
													</section>
												</div>
											</div>

											<div class="row">
												<div class="4u 12u(mobile)">
													<section class="box featured-post">
														<a href="#" class="image full"><img src="images/pic05.jpg" alt=""></a>
														<div class="content">
															<h3>Dolore Tempus</h3>
															<p>Felis orci imperdiet lacus, sed pretium justo dolor eros congue velit. Proin tellus lorem, vestibulum sed volutpat quis, adipiscing auctor sapien curabitur.</p>
															<a href="#" class="button icon fa-info-sign">Learn More</a>
														</div>
													</section>
												</div>
												<div class="4u 12u(mobile)">
													<section class="box featured-post">
														<a href="#" class="image full"><img src="images/pic06.jpg" alt=""></a>
														<div class="content">
															<h3>Dolore Tempus</h3>
															<p>Felis orci imperdiet lacus, sed pretium justo dolor eros congue velit. Proin tellus lorem, vestibulum sed volutpat quis, adipiscing auctor sapien curabitur.</p>
															<a href="#" class="button icon fa-info-sign">Learn More</a>
														</div>
													</section>
												</div>
												<div class="4u 12u(mobile)">
													<section class="box featured-post">
														<a href="#" class="image full"><img src="images/pic07.jpg" alt=""></a>
														<div class="content">
															<h3>Dolore Tempus</h3>
															<p>Felis orci imperdiet lacus, sed pretium justo dolor eros congue velit. Proin tellus lorem, vestibulum sed volutpat quis, adipiscing auctor sapien curabitur.</p>
															<a href="#" class="button icon fa-info-sign">Learn More</a>
														</div>
													</section>
												</div>
											</div>
										</section>

									</div>


							</div>
						</div>
					</div>
				</div>

				<!-- Content -->
				<div id="content">

					<div class="row">
						<div class="12u">
							<!-- Preview -->
							<section id="projects-intro">
								<header class="section-header">
									<h2 class="section-headline">Projects</h2>
								</header>
							</section>
						</div> <!-- End .12u -->
					</div> <!-- end .row -->

					<% @current_user.projects.limit(4).each do |project| %>
						<%= render 'project', project: project %>
					<% end %>
				</div>

		</div> <!-- End #main.container -->

		<div class="clear-footer"></div>
	</div> <!-- End #main-wrapper -->

</div> <!-- end #page-wrapper -->

<!-- Footer Wrapper -->
<%= render 'footer' %>
